<div class="tab">
  <div class="row form-group">
    <div class="col-sm-3 labelTag">
      <label>Post Code</label>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <input placeholder="Post Code" class="form-control" id="postCode" name="postCode" [(ngModel)]="currentStepObject.postCode"
          (ngModelChange)="modelChanged($event)">
        <span class="input-group-addon" style="font-size:20px">Enter</span>
      </div>
    </div>
    <div class="col-sm-3" style="text-align:left">
      <label> Use current location</label>
    </div>
  </div>


  <div class="row form-group">
    <div class="col-sm-3 labelTag">
      <label>Supply Address</label>
    </div>
    <div class="col-sm-6">
      <select class="form-control" id="supplyAddress" name="supplyAddress"
       [(ngModel)]="currentStepObject.supplyAddress"
       
       >
        <option value="volvo">--Select--</option>
        <option value="volvo1">--Select1--</option>
        <option value="volvo2">--Select2--</option>
      </select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3 labelTag">
      <label>
        MPAN/MPRN
      </label>
    </div>
    <div class="col-sm-6">
      <label class="supplyNumber"></label>
    </div>
  </div>


</div>