<!-- First Container -->
<div class="details">
  <div class="container">
    <div class="row headDetails">
      <div class="col-md-8">
        <h3>Address Details</h3>
        <p>Please complete the form below. If we already hold the information, it is pre-filled for your convenience.</p>
      </div>
      <div class="col-md-4">
        <img src="http://18.218.232.48:3000/assets/images/energyLogo.png">
      </div>
    </div>
  </div>

  <div class="container detailsForm">
    <div class="row headFormDetails">
      <h3>About Your Address and Billing</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Post Code</label>
          <input placeholder="Post Code" class="form-control">
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Current Address</label>
          <input placeholder="Residential Status" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Residential Status</label>
          <input placeholder="Residential Status" class="form-control">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Years at Property</label>
          <input placeholder="Years at Property" class="form-control">
        </div>

      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Months at Property</label>
          <input placeholder="Months at Property" class="form-control">
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <h4 class="col-md-12">Previous Address</h4>

      <div class="col-md-4">
        <div class="form-group">
          <label>Address Line 1</label>
          <input placeholder="Address Line 1" class="form-control">
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Address Line 2</label>
          <input placeholder="Address Line 2" class="form-control">
        </div>

      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>City</label>
          <input placeholder="City" class="form-control">
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Country</label>
          <input placeholder="Country" class="form-control">
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Post Code</label>
          <input placeholder="Post Code" class="form-control">
        </div>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">My Billing Address is different to my current address.</div>
      <h4 class="col-md-12">Billing Address</h4>

      <div class="col-md-4">
        <div class="form-group">
          <label>Address Line 1</label>
          <input placeholder="Address Line 1" class="form-control">
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Address Line 2</label>
          <input placeholder="Address Line 2" class="form-control">
        </div>

      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>City</label>
          <input placeholder="City" class="form-control">
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Country</label>
          <input placeholder="Country" class="form-control">
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Post Code</label>
          <input placeholder="Post Code" class="form-control">
        </div>

      </div>
    </div>
  </div>


</div>