<!-- First Container -->
<form [formGroup]="switchForm" (ngSubmit)="submitForm(switchForm.value)">
  <div class="details switchforms">
    <div class="container">
      <div class="row headDetails">
        <div class="col-md-8">
          <h3>Address Details</h3>
          <p>Please complete the form below. If we already hold the information, it is pre-filled for your convenience.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="assets/images/energyLogo.png">
          <h3>{{switchService.step3Obj.supplier.Supplier}}</h3>
        </div>
      </div>
    </div>

    <div class="container detailsForm">
      <div class="row headFormDetails">
        <h3>About Your Address and Billing</h3>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Current Address:</label>
            {{switchService.step1Obj.supplyAddress}}
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Post Code:</label>
            {{switchService.step1Obj.postCode}}
          </div>

        </div>
      </div>

      <div class="row" [hidden]="!(switchService.personalObj.companyType=='Sole Trader')">
        <div class="col-md-6">
          <div class="form-group">
            <label>Residential Status</label>
            <select class="form-control" formControlName="residentialStatus">
              <option value="" selected="selected">Select Status</option>
              <option value="Council Tenant">Council Tenant</option>
              <option value="Housing Association Tenant">Housing Association Tenant</option>
              <option value="Joint Owner">Joint Owner</option>
              <option value="Landlord">Landlord</option>
              <option value="Owner">Owner</option>
              <option value="Tenant">Tenant</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Years at Property</label>
            <input placeholder="Years at Property" class="form-control" type="number" formControlName="yearsAtProperty">
          </div>

        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Months at Property</label>
            <input placeholder="Months at Property" class="form-control" type="number" formControlName="monthsAtProperty">
          </div>
        </div>
      </div>
      <hr>
      <div class="row" [hidden]="!(switchForm.controls['yearsAtProperty'].value<3 && switchForm.controls['yearsAtProperty'].value!=='')">
        <h4 class="col-md-12">Previous Address</h4>

        <div class="col-md-4">
          <div class="form-group">
            <label>Address Line 1</label>
            <input placeholder="Address Line 1" class="form-control" formControlName="prevAddressLine1">
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Address Line 2</label>
            <input placeholder="Address Line 2" class="form-control" formControlName="prevAddressLine2">
          </div>

        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>City</label>
            <input placeholder="City" class="form-control" formControlName="prevCity">
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Country</label>
            <input placeholder="Country" class="form-control" formControlName="prevCountry">
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Post Code</label>
            <input placeholder="Post Code" class="form-control" formControlName="prevPostCode">
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="checkbox" style="height:15px !important" formControlName="checkBillingAddress"> My Billing Address is different to my current address.
        </div>

      </div>
      <div class="row" [hidden]="!switchForm.controls['checkBillingAddress'].value">
        <h4 class="col-md-12">Billing Address</h4>

        <div class="col-md-4">
          <div class="form-group">
            <label>Address Line 1</label>
            <input placeholder="Address Line 1" class="form-control" formControlName="billingAddressLine1">
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Address Line 2</label>
            <input placeholder="Address Line 2" class="form-control" formControlName="billingAddressLine2">
          </div>

        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>City</label>
            <input placeholder="City" class="form-control" formControlName="billingCity">
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Country</label>
            <input placeholder="Country" class="form-control" formControlName="billingCountry">
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Post Code</label>
            <input placeholder="Post Code" class="form-control" formControlName="billingPostCode">
          </div>

        </div>
      </div>
      <hr>


      <footer style="TEXT-ALIGN: RIGHT; MARGIN-TOP: 2%;margin-bottom:5px;">
        <button class="btn btn-secondary customBtn" *ngIf="!switchService.updateForm" type="submit">
          CONTINUE
        </button>
        <button class="btn btn-secondary customBtn" *ngIf="switchService.updateForm" (click)="updateForm(switchForm.value)">
          Update
        </button>
      </footer>
    </div>


  </div>
</form>