<!-- First Container -->
<div class="details">
  <div class="container">
    <div class="row headDetails">
      <div class="col-md-8">
        <h3>Personal Details</h3>
        <p>Please complete the form below. If we already hold the information, it is pre-filled for your convenience.</p>
      </div>
      <div class="col-md-4">
        <img src="http://18.218.232.48:3000/assets/images/energyLogo.png">
      </div>
    </div>
  </div>

  <div class="container detailsForm">
    <div class="row headFormDetails">
      <h3>About You</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Name</label>
          <input placeholder="Name" class="form-control">
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Company Name</label>
          <input placeholder="Company Name" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Company Type</label>
          <input placeholder="Company Type" class="form-control">
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Company Registration Number</label>
          <input placeholder="Company Registration Number" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Mobile Number</label>
          <input placeholder="Mobile Number" class="form-control">
        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Email Address</label>
          <input placeholder="Email Address" class="form-control">
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Confirm Email Address</label>
          <input placeholder="Confirm Email Address" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Password</label>
          <input placeholder="Password" class="form-control">
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Confirm Password</label>
          <input placeholder="Confirm Password" class="form-control">
        </div>
      </div>
    </div>
  </div>


</div>