<div class="tab tab3">
    <div class="row form-group">

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-5 labelTag">
                    Post Code:
                </div>
                <div class="col-sm-7">
                    <span>{{switchService.step1Obj.postCode}}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="row">
                <div class="col-sm-5 labelTag">
                    Supply Address:
                </div>
                <div class="col-sm-7">
                    <span>{{switchService.step1Obj.supplyAddress}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-5 labelTag">
                    Current Annual Spend:
                </div>
                <div class="col-sm-7">
                    <span>{{switchService.step2Obj.currentAnnualSpend}}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="row">
                <div class="col-sm-5 labelTag">
                    Contract Start Date:
                </div>
                <div class="col-sm-7">
                    <span>{{switchService.step2Obj.contractStartDate}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-5 labelTag">
                    Current Supplier:
                </div>
                <div class="col-sm-7">
                    <span>{{switchService.step2Obj.currentSupplier}}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="row">
                <div class="col-sm-5 labelTag">
                    Billing Type:
                </div>
                <div class="col-sm-7">
                    <span>{{switchService.step2Obj.billingType}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-5 labelTag">
                    Smart Meter:
                </div>
                <div class="col-sm-7">
                    <span>{{switchService.step2Obj.smartMeter=='true' ? 'a' : 'b'}}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="row">
                <div class="col-sm-5 labelTag">
                    Annual Usage:
                </div>
                <div class="col-sm-7">
                    <span>{{switchService.step2Obj.currentAnnualUsage}}</span>
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="max-width:1000px;margin-top:100px">
        <table id="pricinglist" class="display text-center" style="width:100%">
            <thead>
                <tr>
                    <th>Supplier</th>
                    <th>Day Rate</th>
                    <th>Standing Charge</th>
                    <th>Cost Per Year</th>
                    <th style="background:none !important"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="http://18.218.232.48:3000/assets/images/energyLogo.png">
                        <br> Clear Business
                    </td>
                    <td>14.74400</td>
                    <td>20.00000</td>
                    <td>61</td>
                    <td>
                        <button class="prev1 btn btn-primary">Previous </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://18.218.232.48:3000/assets/images/energyLogo.png">
                        <br> Scottish
                    </td>
                    <td>14.74400</td>
                    <td>20.00000</td>
                    <td>61</td>
                    <td>
                        <button class="prev1 btn btn-primary">Previous </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://18.218.232.48:3000/assets/images/energyLogo.png">
                        <br> Utilitia
                    </td>
                    <td>14.74400</td>
                    <td>20.00000</td>
                    <td>61</td>
                    <td>
                        <button class="prev1 btn btn-primary">Previous </button>
                    </td>
                </tr>
            </tbody>
            <tfoot style="display: none">
                <tr>
                    <th>Supplier</th>
                    <th>Day Rate</th>
                    <th>Standing Charge</th>
                    <th>Cost Per Year</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>


</div>


<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#pricinglist tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTable
        var table = $('#pricinglist').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>