
.navbar-brand {
    display: inline-block;
    padding-top: 0px;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    height: auto;
}

.navbar {
    padding-top: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
    background: #17252a !important;
    color: #ffffff;
    fill: #132026;
}




.logo {
    max-width: 100%;
    height: auto;
}

.freephone {
    font-family: vag_roundedbold;
    font-size: 20.7px;
    padding: 8px;
}

.freephone span {
    color: #3697c2;
}

