<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/">
        <img src="assets/images/ua_logo.png" class="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="freephone">
            freephone:
            <span>0808 1788 170</span>
        </div>
        <h5 class="session">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <h5 class="dropdown-toggle" data-toggle="dropdown" href="#">Welcome {{name}}
                        <span class="caret"></span>
                    </h5>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile">My Profile</a>
                        </li>
                        <li>
                            <a (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </h5>
    </div>

</nav>