<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="/">
        <img src="assets/images/ua_logo.png" class="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="freephone">
            freephone:
            <span>0808 1788 170</span>
        </div>
        <h5 class="session">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <h5 class="dropdown-toggle" data-toggle="dropdown" href="#">Welcome {{name}}
                        <span class="caret"></span>
                    </h5>
                    <ul class="dropdown-menu  dropdown-menu-right">
                        <li>
                            <a routerLink="profile">My Profile</a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#changePasswordModal">Change Password</a>
                        </li>
                        <li>
                            <a (click)="logout()">Logout</a>
                        </li>

                    </ul>
                </li>
            </ul>

        </h5>
    </div>

</nav>





<!-- Modal -->
<div id="changePasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background: #17252a !important">
                <img class="logo" src="assets/images/ua_logo.png" style="height: 40px">
                <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="changePasswordForm">
                    <div class="container" formGroupName="passwordGroup">
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label>Old Password</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group mb-3">
                                    <input style="font-size:14px;font-family:  Arial, Helvetica, sans-serif" placeholder="Enter Old Password" class="form-control"
                                        type="password" formControlName="oldPassword">


                                </div>
                                <div class=" alert-danger" *ngIf="changePasswordForm.controls['passwordGroup'].touched && !changePasswordForm.controls['passwordGroup'].valid">
                                    <span *ngIf="changePasswordForm.get('passwordGroup').get('oldPassword').hasError('required') ">
                                        Confirm Password is required!
                                    </span>

                                </div>
                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label>New Password</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group mb-3">
                                    <input style="font-size:14px;font-family:  Arial, Helvetica, sans-serif" placeholder="Enter New Password" class="form-control"
                                        type="password" formControlName="password">

                                </div>
                                <div class=" alert-danger" *ngIf="changePasswordForm.controls['passwordGroup'].touched && !changePasswordForm.controls['passwordGroup'].valid">
                                    <span *ngIf="!changePasswordForm.get('passwordGroup').get('password').hasError('required') && changePasswordForm.controls['passwordGroup'].hasError('match')">
                                        New password should not be same as old password!
                                    </span>
                                   
                                </div>
                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label>Confirm New Password</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group mb-3">
                                    <input style="font-size:14px;font-family:  Arial, Helvetica, sans-serif" placeholder="Enter New Password" class="form-control"
                                        type="password" formControlName="confirmPassword">

                                </div>
                                <div class=" alert-danger" *ngIf="changePasswordForm.controls['passwordGroup'].get('confirmPassword').touched && !changePasswordForm.controls['passwordGroup'].valid">
                                    <span *ngIf="changePasswordForm.get('passwordGroup').get('confirmPassword').hasError('required') ">
                                        Confirm password is required!
                                    </span>

                                    <span *ngIf="!changePasswordForm.get('passwordGroup').get('confirmPassword').hasError('required') && changePasswordForm.controls['passwordGroup'].hasError('nomatch')">
                                        Password doesn't match!
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="btnRow">
                                    <button class="next2 btn btn-secondary customBtn"  (click)="changePassword(changePasswordForm.value)" [disabled]='!changePasswordForm.valid'>Change Password </button>

                                    <div class=" alert-danger">

                                        <span>
                                            {{error}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>