<!-- First Container -->
<div class="container-fluid text-center">
  <div style="padding: 20px 0px">
    <h1 class="fontBold">Compare your {{switchType}}
    </h1>
  </div>

</div>

<!-- Circles which indicates the steps of the form: -->
<div class="container" style="text-align:center;margin-top:40px;max-width: 700px;">
  <div class="row">
    <div class="col-4">
      <span class="step firststep active" (click)="viewFirstStep()">1</span>
      <br>Select Supply Address</div>
    <div class="col-4">
      <span class="step midstep active" (click)="viewMidStep()">2</span>
      <br>Usage</div>
    <div class="col-4">
      <span class="step laststep active">3</span>
      <br>Supplier List</div>
  </div>
</div>

<div class="container switchforms" style="margin-top:40px;max-width: 1000px;">
  <div class="tab tab3">
    <div class="row form-group" style="display:none">
      <div class="col-6">

        <div class="row">
          <div class="col-5 labelTag">
            Supply Address:
          </div>
          <div class="col-7">
            <span>{{switchService.step1Obj.supplyAddress}}</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-5 labelTag">
            Post Code:
          </div>
          <div class="col-7">
            <span>{{switchService.step1Obj.postCode}}</span>
          </div>
        </div>
      </div>

    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <div class="row">
          <div class="col-5 labelTag">
            Annual Spend:
          </div>
          <div class="col-7">
            <span>{{switchService.step2Obj.spendAmount}} &#163;
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="row">
          <div class="col-5 labelTag">
            Annual Usage:
          </div>
          <div class="col-7">
            <span>{{switchService.step2Obj.consumption}} kWh</span> 
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">


      <div class="col-md-6">

        <div class="row">
          <div class="col-5 labelTag">
            Contract End Date:
          </div>
          <div class="col-7">
            <span>{{switchService.step2Obj.contractEndDate | date:'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-5 labelTag">
            Current Supplier:
          </div>
          <div class="col-7">
            <span>{{switchService.step2Obj.checkManual ? switchService.step2Obj.manualCurrentSupplier : switchService.step2Obj.currentSupplier}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">

      <div class="col-md-6">

        <div class="row">
          <div class="col-5 labelTag">
            Billing Type:
          </div>
          <div class="col-7">
            <span>{{switchService.step2Obj.billingType}}</span>
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="row">
          <div class="col-5 labelTag">
            Smart Meter:
          </div>
          <div class="col-7">
            <span>{{switchService.step2Obj.smartMeter=='true' ? 'Yes' : 'No'}}</span>
          </div>
        </div>
      </div>
    </div>



    <div style="max-width:1000px;margin-top:100px;overflow-x:auto;">
      <!-- <table id="pricinglist" class="display text-center" style="width:100%"> -->
      <table class="table table-striped text-center" [mfData]="prices" #mf="mfDataTable" [mfRowsOnPage]="10">

        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="Supplier">Supplier</mfDefaultSorter>
            </th>

            <th>
              <mfDefaultSorter by="DayUnitrate">Day Rate</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="StandingCharge">Standing Charge</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="AnnualPrice">Cost Per Year</mfDefaultSorter>
            </th>
            <th style="background:none !important"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let price of mf.data">
            <tr *ngIf="price.AnnualPrice">
              <td>
                <img src="assets/images/energyLogo.png">
                <br> {{price.Supplier}}
              </td>
              <td class="floatTd">{{(price.DayUnitrate/1).toFixed(2)}} pence per kWh</td>
              <td class="floatTd">{{(price.StandingCharge/1).toFixed(2)}} pence per day</td>
              <td>
                  <b style="color:black">{{price.AnnualPrice}}</b> when you choose for {{price.Term}} year.
                  <br>
                <ng-container *ngIf="price.AnnualPrice.replace(',','').replace('£','')/1  > spendAmount;else viewProfit">
                  You added
                  <span style='font-size:20px;color:red'>£{{(price.AnnualPrice.replace(',','').replace('£','') - spendAmount).toFixed(2)}}</span>/Yr
                 
                </ng-container>
                <ng-template #viewProfit>
                  You save
                  <span style='font-size:20px;color:green'>£{{(spendAmount - price.AnnualPrice.replace(',','').replace('£','')).toFixed(2)}}</span>/Yr
                  
                  
                </ng-template>
              </td>
              <td class="switchNowBtn">
                <button class="prev1 btn customBtn" style='border:1px solid #4f95c7' (click)="switchNow(price)">Switch Now </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" style="font-family:Arial, Helvetica, sans-serif">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="row">
      <div class="btnRow">
        <button class="prev2 btn btn-secondary customBtn" (click)="viewMidStep()">Previous </button>
      </div>
    </div>

  </div>

</div>