<!-- First Container -->
<div class="container-fluid text-center">
  <div style="padding: 20px 0px">
    <h1 class="fontBold">Terms &amp; Conditions

    </h1>
  </div>
  <div class="container text-justify">
    UTILITY AID LIMITED (UA) guarantee our commitment to respecting and protecting your online privacy. This includes your need
    and your right to know what we do with the personal information you share with us. It also guides our company's policies
    regarding the management of this data, including how the information is collected, processed, and for what purposes.
    <br><br>
     "UA": refers to the web pages. By accessing this website you are consenting to the way information is collected and
    used, as described within this Privacy Policy.
    <br>In return, UA gives the commitment that we will use the personal data you provide only in ways that are compatible with
    the following Privacy Policy.
    <br><br>
    <b>The collection of information</b>
    <br> Every time you log on to our website your IP (Internet Protocol) address registers on our servers. Your IP address reveals
    no information other than the number assigned to you. We do not use this technology to get any personal data against
    your knowledge or free will (i.e., automatically recording e-mail addresses of visitors). Nor do we use it for any purpose
    other than to help us monitor traffic on our website, or (in case of criminal activity or misuse of our information)
    to cooperate with law enforcement.
    <br><br>
    <b>Cookies</b>
    <br> The only cookie used on this site is to gather information on site usage. If you do not know what cookies are, or how
    to control or delete them, then we recommend you visit https://www.aboutcookies.org for detailed guidance. The list below
    describe the cookies we use on this site and what we use them for. Currently we operate an 'implied consent' policy which
    means that we assume you are happy with this usage. If you are not happy, then you should either not use this site, or
    you should delete the cookies having visited the site, or you should browse the site using your browser's anonymous usage
    setting (called 'Incognito' in Chrome, 'InPrivate' for Internet Explorer, "Private Browsing" in Firefox and Safari etc.)
    <br><br>
    <b>First party cookies</b>
    <br> These are cookies that are set by this website directly. Google Analytics: We use Google Analytics to collect information
    about visitor behaviour on our website. Google Analytics stores information about what pages you visit, how long you
    are on the site, how you got here and what you click on. This Analytics data is collected via a JavaScript tag in the
    pages of our site and is not tied to personally identifiable information. We therefore do not collect or store your personal
    information (e.g. your name or address) so this information cannot be used to identify who you are. You can find out
    more about Google's position on privacy as regards its analytics service here.
    <br><br>
    <b>Emails</b>
    <br> All emails that we currently send out do not contain cookies. UA reserve the right to update this Privacy Policy from
    time to time in response to changing legislation or business issues. In such an instance a revised policy will be posted
    on this page.
  </div>
  <br>
  <br>
  <br>
</div>