<div class="tab">
    <div class="row form-group">
        <div class="col-sm-3 labelTag">
            <label>Annual Spend</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <input placeholder="Annual Spend" class="form-control" [(ngModel)]="currentStepObject.currentAnnualSpend"
                (ngModelChange)="modelChanged($event)">
                <span class="input-group-addon" style="font-size:20px">&#163;</span>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3 labelTag">
        </div>
        <div class="col-sm-6 text-center">
            OR
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3 labelTag">
            <label>Annual Usage</label>
        </div>
        <div class="col-sm-6">

            <div class="input-group">
                <input placeholder="Annual Usage" class="form-control" [(ngModel)]="currentStepObject.currentAnnualUsage">
                <span class="input-group-addon" style="font-size:20px">kWh</span>
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-3 labelTag">
            <label>Contract Start Date</label>
        </div>
        <div class="col-sm-6">
            <input placeholder="Contract Start Date" id="contractStartDate" class="form-control" [(ngModel)]="currentStepObject.contractStartDate">

        </div>

    </div>
    <script type="text/javascript">
        $(function () {
            $('#contractStartDate').datepicker({
                dateFormat: "dd-mm-yy"
            });
        });
    </script>

    <div class="row form-group">
        <div class="col-sm-3 labelTag">
            <label>Current Supplier</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control" [(ngModel)]="currentStepObject.currentSupplier">
                <option value="volvo">--Select Supplier--</option>

            </select>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-3 labelTag">
            <label>Billing Type</label>
        </div>
        <div class="col-sm-6">
            <select class="form-control" [(ngModel)]="currentStepObject.billingType">
                <option value="volvo">--Select Billing Type--</option>

            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3 labelTag">
            <label>Smart Meter</label>
        </div>
        <div class="col-sm-6">
            <input style="width: 4%;border-color: #5d9cec;
            background-color: #5d9cec;height:0px" type="checkbox" name="vehicle" value="Car" [(ngModel)]="currentStepObject.smartMeter">
        </div>
    </div>



</div>