#personal-details table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto;
}

#personal-details td, #personal-details th {
    border: 1px solid #ddd;
    padding: 4px;
}

#personal-details span {
    font-size: 14px;
}

#personal-details b {
    font-family: vag_roundedbold;
}

#personal-details th {
    text-align: center;
    background-color: #3697c2;
    color: white;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    .table, .table thead, .table tbody, .table th, .table td, .table tr {
        display: block;
        padding: 2px 5px !important
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table tr {
        border: 1px solid #ccc;
    }
    .table td {
        /* Behave  like a "row" */
        border: none !important;
        position: relative;
        padding-left: 50%;
    }
    .table td:before {
        /* 	left: 6px;
		width: 45%; 
		padding-right: 10px;  */
        white-space: nowrap;
    }
    /*
	Label the data
	*/
    .table td:nth-of-type(1):before {
        content: "";
    }
    .table td:nth-of-type(2):before {
        display: table;
        color: #3697c2;
        width: 100%;
        font-weight: bold;
        content: "Supply Address";
    }
    .table td:nth-of-type(3):before {
        display: table;
        color: #3697c2;
        width: 100%;
        font-weight: bold;
        content: "Previous Usage";
    }
    .table td:nth-of-type(4):before {
        display: table;
        color: #3697c2;
        width: 100%;
        font-weight: bold;
        content: "New Supply Details";
    }
    .table td:nth-of-type(5):before {
        content: "";
    }
    .table {
        text-align: left !important;
    }
    .table .floatTd:before {
        font-weight: bold;
    }
    .table .floatTd {
        width: 50%;
        float: left;
    }
    .table .customBtn {
        padding: 5px;
    }
}