<div class="container" id="personal-details">
  <div style="padding-top:20px">
    <h2 class="fontBold">My profile </h2>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table border="1">
        <tr>
          <th colspan="2">Personal/Address Details</th>
        </tr>
        <tr>
          <td>Name:</td>
          <td class="fontBold">{{personalObj.name}}</td>
        </tr>
        <tr>
          <td>Company Name:</td>
          <td class="fontBold">{{personalObj.companyName}}</td>
        </tr>
        <tr>
          <td>Company Type:</td>
          <td class="fontBold">{{personalObj.companyType}}</td>
        </tr>
        <tr>
          <td>Registration No.:</td>
          <td class="fontBold">{{personalObj.companyRegNo}}</td>
        </tr>
        <tr>
          <td>Mobile No.:</td>
          <td class="fontBold">{{personalObj.mobileNo}}</td>
        </tr>

        <tr [hidden]="!personalObj.addressObj.checkBillingAddress">
          <td>Billing Address:</td>
          <td class="fontBold"> {{this.personalObj.addressObj.billingAddressLine1 + ' ' + this.personalObj.addressObj.billingAddressLine2 +
            ' ' + this.personalObj.addressObj.billingCity + ' ' + this.personalObj.addressObj.billingCountry + ' ' +
            this.personalObj.addressObj.billingPostCode}}
          </td>
        </tr>
        <tr [hidden]="!(personalObj.addressObj.yearsAtProperty<3 && personalObj.addressObj.yearsAtProperty!=='')">
          <td>Previous Address:</td>
          <td class="fontBold"> {{this.personalObj.addressObj.prevAddressLine1 + ' ' + this.personalObj.addressObj.prevAddressLine2 + ' ' +
            this.personalObj.addressObj.prevCity + ' ' + this.personalObj.addressObj.prevCountry + ' ' + this.personalObj.addressObj.prevPostCode}}</td>
        </tr>

      </table>
    </div>
    <div class="col-md-6">

      <table border="1">
        <tr>
          <th colspan="2">Bank Details</th>
        </tr>
        <tr>
          <td>Account Holder Name:</td>
          <td class="fontBold">{{personalObj.paymentObj.accountHolderName}}</td>
        </tr>
        <tr>
          <td>Sort Code:</td>
          <td class="fontBold">{{personalObj.paymentObj.sortCode}}</td>
        </tr>
        <tr>
          <td>Account Number:</td>
          <td class="fontBold">{{personalObj.paymentObj.accountNumber}}</td>
        </tr>
        <tr>
          <td>Bank Name:</td>
          <td class="fontBold">{{personalObj.paymentObj.checkManual ? personalObj.paymentObj.manualBankName : personalObj.paymentObj.bankName}}</td>
        </tr>




      </table>


    </div>
  </div>
  <div style="padding-top:20px">
    <h2 class="fontBold">Switching History</h2>
  </div>
  <div style="overflow-x:auto;">
    <table class="table table-striped" [mfData]="switchingHistory" #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead>
        <tr>
          <th>
            Sr No.
          </th>

          <th>
            Supply Details
          </th>
          <th>
            Previous Supply Details
          </th>
          <th>
            Switch Details
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let history of mf.data;let i=index">
          <tr>
            <td class="text-center">
              <b style="text-decoration: underline">{{i+1}}</b>
            </td>

            <td style="max-width: 300px;">Supply Type:
              <b>{{history.quotationDetails.currentUrl | uppercase}}</b>
              <br> Post Code:
              <b>{{history.quotationDetails.step1Obj.postCode | uppercase}} </b>
              <br> Supply Address:
              <b>
                {{history.quotationDetails.step1Obj.supplyAddress}}</b>
              <br> MPAN/MPRN:
              <b> {{history.quotationDetails.currentUrl=='electricity' ? history.quotationDetails.step1Obj.MPANBottomLineNo :history.quotationDetails.step1Obj.MPRN}}</b>
            </td>
            <td>Annual Spend:
              <b>{{history.quotationDetails.step2Obj.spendAmount}}</b>
              <br> Annual Usage:
              <b>{{history.quotationDetails.step2Obj.consumption}} </b>
              <br> Contract End Date:
              <b>
                {{history.quotationDetails.step2Obj.contractEndDate}}</b>
              <br> Current Supplier:
              <b>
                {{history.quotationDetails.step2Obj.checkManual ? history.quotationDetails.step2Obj.manualCurrentSupplier : history.quotationDetails.step2Obj.currentSupplier}}</b>
              <br> Billing Type:
              <b>
                {{history.quotationDetails.step2Obj.billingType}}</b>
              <br> Smart Meter:
              <b>
                {{history.quotationDetails.step2Obj.smartMeter ? "Yes" : "No"}}</b>

            </td>
            <td>
              <b style="color: #3697c2">
                {{history.quotationDetails.step3Obj.supplier.Supplier}}</b>
              <br> Day Rate:
              <b>
                {{(history.quotationDetails.step3Obj.supplier.DayUnitrate/1).toFixed(2)}}</b> pence per kWh
              <br> Standing Charge:
              <b>
                {{(history.quotationDetails.step3Obj.supplier.StandingCharge/1).toFixed(2)}}</b> pence per day


            </td>
            <td class="text-center" style="vertical-align: middle">
              <ng-container *ngIf="history.documentSigned; then documentSigned; else pendingDocumentSigned">
              </ng-container>
              <ng-template #documentSigned>
                <ng-container *ngIf="history.LOASigned; then completed; else pendingLOA">
                </ng-container>
                <ng-template #completed>
                  <span class="badge badge-pill badge-success">Completed</span>
                  <br>
                  <span style="cursor: pointer;" (click)="downloadPDF(history.quotationDetails.step3Obj.supplier.Supplier,history.quotationDetails.currentUrl,history.docuSignRefID)">
                    <img alt="DocuSign" src="assets/images/docuSign.png" style="width:40px;margin-top: 5px;" title="Download DocuSign">
                  </span>
                </ng-template>
                <ng-template #pendingLOA>
                  <span class="badge badge-pill badge-primary">Pending LOA</span>
                  <br>
                  <span style="cursor: pointer;" (click)="downloadPDF(history.quotationDetails.step3Obj.supplier.Supplier,history.quotationDetails.currentUrl,history.docuSignRefID)">
                    <img alt="DocuSign" src="assets/images/docuSign.png" style="width:40px;margin-top: 5px;" title="Download DocuSign">
                  </span>
                </ng-template>
              </ng-template>
              <ng-template #pendingDocumentSigned>
                <span class="badge badge-pill badge-danger">Pending DocuSign</span>
              </ng-template>
            </td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" style="font-family:Arial, Helvetica, sans-serif">
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>