@font-face {
    font-family: 'vag_roundedbold';
    src: url('assets/fonts/vag_rounded_bold-webfont.eot');
    src: url('assets/fonts/vag_rounded_bold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/vag_rounded_bold-webfont.woff') format('woff'), url('assets/fonts/vag_rounded_bold-webfont.ttf') format('truetype'), url('assets/fonts/vag_rounded_bold-webfont.svg#vag_roundedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vag_roundedregular';
    src: url('assets/fonts/vag_rounded_thin-webfont.eot');
    src: url('assets/fonts/vag_rounded_thin-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/vag_rounded_thin-webfont.woff') format('woff'), url('assets/fonts/vag_rounded_thin-webfont.ttf') format('truetype'), url('assets/fonts/vag_rounded_thin-webfont.svg#vag_roundedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 16.5px vag_roundedregular, sans-serif;
    line-height: 1.8;
    color: #455a64;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}

.fontBold {
    font-family: vag_roundedbold;
}

.fontRegular {
    font-family: vag_roundedregular;
}

label {
    font-weight: normal;
}

.steps {
    max-width: 310px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    min-height: 340px;
    padding: 20px;
    display: table;
    margin: 20px auto;
    background-color: #f6f6f6;
}

.steps h3 {
    color: #0897C7;
}

.compare {
    max-width: 700px;
    margin-bottom: 50px;
}

.compare img {
    margin-bottom: 20px;
}

.switchTypeBtn {
    font-family: vag_roundedbold;
    color: #3697C2;
    padding: 8px 10px;
    border: 6px solid #3697C2;
    border-radius: 20px;
    font-size: 22px;
    max-width: 220px;
    display: block;
    margin: 0 auto;
}

input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */

.tab3 span {
    font-weight: bold;
}

.step {
    margin: 0 2px;
    background-color: #bbbbbb;
    border: 3px solid transparent;
    border-radius: 50%;
    display: inline-block;
    padding: 0px 12px;
    color: white !important;
    cursor: pointer;
}

.active {
    background-color: #3693cd;
}

.midstep::after {
    content: '';
    width: 100%;
    height: 1px;
    background: rgb(41, 40, 40);
    position: absolute;
    top: 15px;
    z-index: -9;
}

.firststep::after {
    content: '';
    width: 95%;
    height: 1px;
    background: rgb(41, 40, 40);
    position: absolute;
    top: 15px;
    z-index: -1;
}

input {
    height: 46px !important;
    line-height: 1.33333;
    font-size: 18px;
}

label {
    margin-top: 10px;
}

.form-control {
    font-size: 18px;
    height: 46px !important;
    /* border: 1px solid #ced4da !important; */
    border-radius: 10px;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control,
.input-group>span {
    border-radius: 10px;
}

.switchforms .customBtn {
    font-family: vag_roundedregular;
    min-width: 100px;
    padding: 10px 25px;
    margin: 5px;
    border: 1px solid #bbbbbb;
}

.switchforms .btnRow {
    display: table;
    margin: 50px auto;
}

.switchforms .btn:hover {
    background-color: #3697C2;
    color: white;
}

.switchforms .labelTag {
    text-align: right;
}

@media(max-width:800px) {
    .switchforms .labelTag {
        text-align: left;
    }
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #9cc7e2;
    background: #3693cd;
    color: white;
}

#ui-datepicker-div {
    z-index: 10;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background: none;
}

#pricinglist thead {
    background-color: #3496c2;
    font-size: 16px;
    color: #fff;
}

#pricinglist th {
    text-align: center;
}

.details .container {
    margin: 50px auto;
    max-width: 1100px;
}

.details .headDetails {
    border: 2px solid #3197c1;
    padding: 10px
}

.details h3 {
    font-weight: bold;
}

.details p {
    color: #99abb4;
}

.details img {
    margin: 0 auto;
    display: table;
}

.details label {
    font-weight: bold;
}

.details .detailsForm {
    border: 1px solid #e8e8e8;
}

.detailsForm .headFormDetails {
    background-color: #3697c2;
}

.detailsForm .headFormDetails h3 {
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.alert-danger{
    background-color: transparent;
}