<div class="container-fluid text-center">
  <div style="padding: 20px 0px">
    <h1 class="fontBold">Compare your electricity &amp; gas
    </h1>

    <h2>
      You can start by simply completing the step-by-step process
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 ">
        <div class="steps">
          <img src="assets/images/step_1.png">
          <br>

          <h3>Your Current Supplier
          </h3>Tell us about your current energy supplier(s)
        </div>
      </div>
      <div class="col-md-3">
        <div class="steps">
          <img src="assets/images/step_2.png">
          <br>

          <h3>The Options
          </h3>We'll let you know all the best deals suitable and available in your area
        </div>
      </div>
      <div class="col-md-3">
        <div class="steps">
          <img src="assets/images/step_3.png">
          <br>

          <h3>Switching Provider
          </h3>Let us help you switch to the best tariff for you and your organisation
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="steps">
          <img src="assets/images/step_4.png">
          <br>

          <h3>Confirm and Relax
          </h3>Sit back, relax and start to save money
        </div>
      </div>
    </div>
  </div>
  <div style="padding: 20px 0px">
    <h2>Start comparing prices and tariffs now</h2>
  </div>
  <div class="container text-center compare">
    <div class="row">
      
      <div class="col-sm-6">
        <a href="/electricity">
          <img src="assets/images/icon_electricity.png">
          <div class="switchTypeBtn">Electricity</div>
        </a>
      </div>
      <div class="col-sm-6">
          <a href="/gas">
            <img src="assets/images/icon_gas.png">
            <div class="switchTypeBtn">Gas</div>
            <br>
          </a>
        </div>
    </div>
    <div class="row " [hidden]="session">
      <div class="col-12">
        <h3> Already have an account?
          <a data-toggle="modal" data-target="#loginModal" style="color:#0897C7;cursor:pointer">Login</a>
        </h3>
      </div>
    </div>
  </div>


</div>


<!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background: #17252a !important">
        <img class="logo" src="assets/images/ua_logo.png" style="height: 40px">
        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
          <div class="container">
            <div class="row form-group">
              <div class="col-sm-4">
                <label>Email Address</label>
              </div>
              <div class="col-sm-8">
                <div class="input-group mb-3">
                  <input placeholder="Email Address" class="form-control" type="text" formControlName="emailAddress">

                </div>
              </div>
              <div class="col-12 text-center ">
                <div class="alert-danger" *ngIf="loginForm.controls['emailAddress'].touched && !loginForm.controls['emailAddress'].valid">
                  <span *ngIf="loginForm.get('emailAddress').hasError('required') ">
                    Email Address is required!
                  </span>
                  <span *ngIf="loginForm.get('emailAddress').hasError('email') ">
                    Invalid Email Address!
                  </span>
                </div>
              </div>

            </div>
            <div class="row form-group">
              <div class="col-sm-4">
                <label>Password</label>
              </div>
              <div class="col-sm-8">
                <div class="input-group mb-3">
                  <input placeholder="Enter Password" class="form-control" type="password" formControlName="password">
                </div>

              </div>
              <div class="col-12 text-center ">
                <div class=" alert-danger" *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">

                  <span *ngIf="loginForm.get('password').hasError('required') ">
                    Password is required!
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <div class="btnRow">
                  <button class="next2 btn btn-secondary customBtn" [disabled]='!loginForm.valid'>Login </button>

                  <div class=" alert-danger">

                    <span>
                      {{error}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>

    </div>

  </div>
</div>