<!-- First Container -->
<form [formGroup]="switchForm">
  <div class="details switchforms">
    <div class="container">
      <div class="row headDetails">
        <div class="col-md-8">
          <h3>Personal Details</h3>
          <p>Please complete the form below. If we already hold the information, it is pre-filled for your convenience.</p>
        </div>

        <div class="col-md-4 text-center">
          <img [src]="switchService?.step3Obj?.supplierLogo" style="max-width: 150px;width:100%">
          <h3>{{switchService?.step3Obj?.supplier?.Supplier}}</h3>
        </div>

      </div>
      <ng-container *ngIf="session==false">
        <div class="row ">
          <br>
          <div class="col-12 text-right">
            <h5 style="margin-top:10px"> Already have an account?
              <a data-toggle="modal" data-target="#loginModal" style="color:#0897C7;cursor:pointer">Login</a>
            </h5>
          </div>
        </div>
      </ng-container>

    </div>




    <div class="container detailsForm">
      <div class="row headFormDetails">
        <h3>About You</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Name</label>
            <input placeholder="Name" class="form-control" formControlName="name">
            <div class=" alert-danger" *ngIf="switchForm.controls['name'].touched && !switchForm.controls['name'].valid">
              <span *ngIf="switchForm.controls['name'].hasError('required') ">
                Name is required!
              </span>
            </div>

          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Company Name</label>
            <input placeholder="Company Name" class="form-control" formControlName="companyName">
            <div class=" alert-danger" *ngIf="switchForm.controls['companyName'].touched && !switchForm.controls['companyName'].valid">
              <span *ngIf="switchForm.controls['companyName'].hasError('required') ">
                Company Name is required!
              </span>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Company Type</label>
            <select class="form-control " formControlName="companyType">
              <option value="">--Select--</option>
              <option value="Sole Trader">Sole Trader</option>
              <option value="Public Limited Company">Public Limited Company</option>
              <option value="Private Limited Company by Shares">Private Limited Company by Shares</option>
              <option value="Company Limited by Guarantee">Company Limited by Guarantee</option>
              <option value="Charity">Charity</option>
            </select>
            <div class=" alert-danger" *ngIf="switchForm.controls['companyType'].touched && !switchForm.controls['companyType'].valid">
              <span *ngIf="switchForm.controls['companyType'].hasError('required') ">
                Company Type is required!
              </span>
            </div>

          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Company Registration Number</label>
            <input placeholder="Company Registration Number" formControlName="companyRegNo" class="form-control">
            <div class=" alert-danger" *ngIf="switchForm.controls['companyRegNo'].touched && !switchForm.controls['companyRegNo'].valid">
              <span *ngIf="switchForm.controls['companyRegNo'].hasError('required') ">
                Company Registration Number is required!
              </span>
            </div>
          </div>


        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Mobile Number</label>
            <input placeholder="Mobile Number" class="form-control" formControlName="mobileNo">
            <div class=" alert-danger" *ngIf="switchForm.controls['mobileNo'].touched && !switchForm.controls['mobileNo'].valid">
              <span *ngIf="switchForm.controls['mobileNo'].hasError('required') ">
                Mobile Number is required!
              </span>
              <span *ngIf="switchForm.controls['mobileNo'].hasError('pattern') ">
                Invalid Mobile Number!
              </span>
            </div>
          </div>

        </div>

      </div>
      <ng-container *ngIf="session==false">
        <div class="row" formGroupName="emailGroup">
          <div class="col-md-6">
            <div class="form-group">
              <label>Email</label>
              <input preventCutCopyPaste placeholder="Enter Email" type="email" class="form-control" formControlName="emailAddress">
              <span *ngIf="switchForm.get('emailGroup').get('emailAddress').hasError('emailExists') ">
                Email already registered! Please login to continue.
              </span>
              <div class=" alert-danger" *ngIf="switchForm.controls['emailGroup'].touched && !switchForm.controls['emailGroup'].valid">
                <span *ngIf="switchForm.get('emailGroup').get('emailAddress').hasError('required') ">
                  Email is required!
                </span>
                <span *ngIf="switchForm.get('emailGroup').get('emailAddress').hasError('email') ">
                  Invalid Email!
                </span>

              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Confirm Email</label>
              <input preventCutCopyPaste placeholder="Confirm Email" class="form-control" type="email" formControlName="confirmEmailAddress">
              <div class=" alert-danger" *ngIf="switchForm.controls['emailGroup'].touched && !switchForm.controls['emailGroup'].valid">
                <span *ngIf="switchForm.get('emailGroup').get('confirmEmailAddress').hasError('required') ">
                  Confirm Email is required!
                </span>
                <span *ngIf="switchForm.get('emailGroup').get('confirmEmailAddress').hasError('email') ">
                  Invalid Email!
                </span>
                <span *ngIf="!switchForm.get('emailGroup').get('confirmEmailAddress').hasError('required')  && !switchForm.get('emailGroup').get('confirmEmailAddress').hasError('email')  && switchForm.controls['emailGroup'].hasError('nomatch')">
                  Email doesn't match!
                </span>
              </div>



            </div>

          </div>
        </div>
        <div class="row" formGroupName="passwordGroup">
          <div class="col-md-6">
            <div class="form-group">
              <label>Password</label>
              <input preventCutCopyPaste placeholder="Password" class="form-control" type="password" formControlName="password" style="font-family:Arial">
              <div class=" alert-danger" *ngIf="switchForm.controls['passwordGroup'].touched && !switchForm.controls['passwordGroup'].valid">
                <span *ngIf="switchForm.get('passwordGroup').get('password').hasError('required') ">
                  Password is required!
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Confirm Password</label>
              <input preventCutCopyPaste placeholder="Confirm Password" class="form-control" type="password" formControlName="confirmPassword"
                style="font-family:Arial">

              <div class=" alert-danger" *ngIf="switchForm.controls['passwordGroup'].touched && !switchForm.controls['passwordGroup'].valid">
                <span *ngIf="switchForm.get('passwordGroup').get('confirmPassword').hasError('required') ">
                  Confirm Password is required!
                </span>
                <span *ngIf="!switchForm.get('passwordGroup').get('confirmPassword').hasError('required') && switchForm.controls['passwordGroup'].hasError('nomatch')">
                  Password doesn't match!
                </span>
              </div>
            </div>
          </div>
        </div>


      </ng-container>
      <div style="font-weight: bold">
        We may need to contact you as a part of the process via email or telephone.

      </div>
      <input type="checkbox" name="terms" id="terms" formControlName="terms">
      <label for="terms" style="font-weight:normal">I agree to the
        <a routerLink="terms" target="_blank"> Terms and Conditions.</a>
      </label>
      <hr>
      <footer style="TEXT-ALIGN: RIGHT; MARGIN-TOP: 2%;margin-bottom:5px;">
        <button class="btn btn-secondary customBtn" *ngIf="!switchService.updateForm" (click)="submitForm(switchForm.value)" [disabled]='!switchForm.valid'>
          CONTINUE
        </button>
        <button class="btn btn-secondary customBtn" *ngIf="switchService.updateForm" (click)="updateForm(switchForm.value)" [disabled]='!switchForm.valid'>
          UPDATE
        </button>
      </footer>

    </div>


  </div>
</form>


<!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background: #17252a !important">
        <img class="logo" src="assets/images/Utilityaid_New.png" style="height: 40px">
        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
      </div>
      <div class="modal-body">

        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
          <div class="container">

            <div class="row form-group">
              <div class="col-sm-12">
                <div class=" alert-danger">
                  <span>{{emailError}}</span>
                </div>
              </div>

              <div class="col-sm-4">
                <label>Email</label>
              </div>
              <div class="col-sm-8">
                <div class="input-group mb-3">
                  <input placeholder="Enter Email" class="form-control" type="text" formControlName="emailAddress">

                </div>
              </div>
              <div class="col-12 text-center ">
                <div class="alert-danger" *ngIf="loginForm.controls['emailAddress'].touched && !loginForm.controls['emailAddress'].valid">
                  <span *ngIf="loginForm.get('emailAddress').hasError('required') ">
                    Email is required!
                  </span>
                  <span *ngIf="loginForm.get('emailAddress').hasError('email') ">
                    Invalid Email!
                  </span>
                </div>
              </div>

            </div>
            <div class="row form-group">
              <div class="col-sm-4">
                <label>Password</label>
              </div>
              <div class="col-sm-8">
                <div class="input-group mb-3">
                  <input style="font-family: vag_roundedregular" placeholder="Enter Password" class="form-control" type="password" formControlName="password">
                </div>

              </div>
              <div class="col-12 text-center ">
                <div class=" alert-danger" *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">

                  <span *ngIf="loginForm.get('password').hasError('required') ">
                    Password is required!
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <div class="btnRow">
                  <button class="next2 btn btn-secondary customBtn" [disabled]='!loginForm.valid'>Login </button>

                  <div class=" alert-danger">

                    <span>
                      {{error}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>

    </div>

  </div>
</div>